@page
@model GISMO.Pages.Clients.AddClientModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div class="divTop">
    <div style="float:left">
        <h2>Add New Client</h2>
    </div>
    <div style="text-align:end; padding-right:35px">
        <img style="width:42px; height:42px" src="~/lib/Images/newclient.png" />
    </div>
    <br /><br /><p><label>Required to fill all information</label></p>

    <form method="post">
        <table class="table">
            <tr>
                <td><label asp-for="@Model.ClientName" class="col-form-label">Client Name</label></td>
                <td><input asp-for="@Model.ClientName" class="editinput" /></td>
                <span asp-validation-for="@Model.ClientName" class="text-danger"></span>
            </tr>
            <tr>
                <td><label asp-for="@Model.ClientType" class="col-form-label">Type of Client</label></td>
                <td><select asp-for="@Model.ClientType" class="editinput">
                <option value=""></option>
                <option value="Ship Management">Ship Management</option>
                <option value="Manning Agency">Manning Agency</option></select>
                </td>
            </tr>
            <tr>
                <td><label asp-for="@Model.ClientAddress" class="col-form-label">Corporate Address</label></td>
                <td><input asp-for="@Model.ClientAddress" class="editinput" /></td>
                <span asp-validation-for="@Model.ClientAddress" class="text-danger"></span>
            </tr>
            <tr>
                <td><label asp-for="@Model.ClientContacts" class="col-form-label">Office Contacts</label></td>
                <td><input asp-for="@Model.ClientContacts" class="editinput" /></td>
                <span asp-validation-for="@Model.ClientContacts" class="text-danger"></span>
            </tr>
            <tr>
                <td><label asp-for="@Model.ClientAppLic" class="col-form-label">Assigned Application License</label></td>
                <td><input asp-for="@Model.ClientAppLic" class="editinput" /></td>
                <span asp-validation-for="@Model.ClientAppLic" class="text-danger"></span>
            </tr>
        </table>
    </form>
    <br />
    <div style="width:70.1%; padding-top:10px; text-align:left; position:relative">
        <button type="submit" onclick=''>Save / Add New</button>
        <button class="list" onclick='loadHtml("template", "./Clients/Clients")'>Cancel</button>
        <button type="submit" onclick='loadHtml("template", "../NewClient")'>Available License</button>
    </div>
</div>

<script>
    const list = document.querySelectorAll('.list');
    console.log(list);
    function activeLink() {
        list.forEach((item) =>
            item.classList.remove('active'));
        this.classList.add('active');
    }
    list.forEach((item) =>
        item.addEventListener('click', activeLink));

</script>


