@page
@model GISMO.Pages.Clients.AddClientModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div class="divTop">
    <div style="float:left">
        <h2>Add New Client</h2>
        <label>Required to fill all information</label>
    </div>
    <div class="pagerlogo">
        <img style="width:42px; height:42px" src="~/lib/Images/newclient.png" />
    </div>
    <br /><br />

    <form method="post">
        <table class="table">
            <tr>
                <td><label asp-for="@Model.ClientName">Client Name</label></td>
                <td><input asp-for="@Model.ClientName" class="editinput" /></td>
                <span asp-validation-for="@Model.ClientName" class="text-danger"></span>
            </tr>
            <tr>
                <td><label asp-for="@Model.ClientType">Client Type</label></td>
                <td><select asp-for="@Model.ClientType" class="editinput">
                <option value=""></option>
                <option value="Ship Management">Ship Management</option>
                <option value="Manning Agency">Manning Agency</option></select>
                </td>
            </tr>
            <tr>
                <td><label asp-for="@Model.ClientAddress">Address</label></td>
                <td><input asp-for="@Model.ClientAddress" class="editinput" /></td>
                <span asp-validation-for="@Model.ClientAddress" class="text-danger"></span>
            </tr>
            <tr>
                <td><label asp-for="@Model.ClientContacts">Contacts</label></td>
                <td><input asp-for="@Model.ClientContacts" class="editinput" /></td>
                <span asp-validation-for="@Model.ClientContacts" class="text-danger"></span>
            </tr>
            <tr>
                <td><label asp-for="@Model.ClientAppLic">Apps License</label></td>
                <td><input asp-for="@Model.ClientAppLic" class="editinput" /></td>
                <span asp-validation-for="@Model.ClientAppLic" class="text-danger"></span>
            </tr>
        </table>
    </form>
    <br />
    <div style="padding-left:20px">
        <button onclick='loadHtml("template", "./Clients/Clients")'>Save/Add New</button>
        <button onclick='loadHtml("template", "./Clients/Clients")'>License</button>
        <button onclick='loadHtml("template", "./Clients/Clients")'>Cancel</button>
        <br /><br />
    </div>
</div>

<script>
    const list = document.querySelectorAll('.list');
    console.log(list);
    function activeLink() {
        list.forEach((item) =>
            item.classList.remove('active'));
        this.classList.add('active');
    }
    list.forEach((item) =>
        item.addEventListener('click', activeLink));

</script>


