@page
@model GISMO.Pages.Clients.ClientsModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div class="divTop">
    <div style="float:left">
        <h2>List of Clients</h2>
        <label>Ship Management/Agencies</label>
    </div>
    <div style="text-align:end; padding-right:35px">
        <img style="width:42px; height:42px" src="~/lib/Images/client-pc.png" />
    </div>

<br /><br />

<button onclick='loadHtml("template", "./Clients/AddClient")'>New Client</button>
<button onclick='loadHtml("template", "../Applicants?seaservid=0")'>Proposed Applicants (@Model.Applicants.Count)</button>

<br /><br />

<table class="table">
<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Address</th>
        <th>Contacts</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    @foreach (var client in Model.Clients)
    {
        <tr>
            <td>
                <a class="btn-link" href="#" onclick='loadHtml("template", "./Clients/ClientDetails?id=@client.Id&selClient=@client.ClientName")'>@client.ClientName</a>
            </td>
            <td>@client.Type</td>
            <td>@client.Address</td>
            <td>@client.Contacts</td>
            <td>
                <a class="btn-lnk" href="#" onclick='loadHtml("template", "./Clients/Edit?id=@client.Id")'>Modify</a>
            </td>
        </tr>
    }
</tbody>
</table>
</div>






