@page
@model GISMO.Pages.Clients.ClientDetailsModel
@{
    
}

<br />
<h2>@Request.Query["selClient"]</h2>
<label>Managed Vessels</label>
<br />
<table class="table">
    <thread>
        <tr>
            @*<th style="background-color:whitesmoke">ID</th>*@
            <th style="background-color:whitesmoke">Vessel Name</th>
            <th style="background-color:whitesmoke">Type</th>
            <th style="background-color:whitesmoke">Action</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var vessel in Model.SelVessels)
        {
            <tr>
                @*<td>@vessel.Id</td>*@
                <td>
                    @*<a asp-page="./Clients/VesselDetails" asp-route-id="@vessel.Id">@vessel.VesselName</a>*@
                    <a class="btn-link" href="./VesselDetails?id=@vessel.Id&selVsl=@vessel.VesselName">@vessel.VesselName</a>
                </td>
                <td>@vessel.Type</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clients/VesselDetails?id=@vessel.Id&selVsl=@vessel.VesselName">Show Onboard</a>
                    <a class="btn btn-primary btn-sm" href="/Clients/Planner?id=@vessel.Id&selVsl=@vessel.VesselName">Agency Planner</a>
                </td>
            </tr>
        }

    </tbody>
</table>