@page
@model GISMO.Pages.Clients.CrewDetailsModel
@{
    Layout = null;
}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<br />

<div class="divTop" style="height:206px">
    <!--1ST INFO BOX -->
    <div style="float:left; padding-top:20px; padding-left:20px">
        <h2>@Model.Seafarer.Rank @Model.Seafarer.Fname @Model.Seafarer.Lname</h2><br />
        <div style="float:left; padding-left:20px; padding-right:20px">
            <label class="a">ADDRESS:</label><br />
            <label class="a">MOBILE</label><br />
            <label class="a">EMAIL:</label><br />
        </div>
        <div style="float:left; padding:3px">
            <label class="a">@Model.Seafarer.Address</label><br />
            <label class="a">@Model.Seafarer.Mobile</label><br />
            <label class="a">@Model.Seafarer.Email</label>
        </div>
    </div>
    <div style="text-align:end; padding-top:1vw">
        <img src="~/lib/images/@(Model.Seafarer.Id).jpg" style="padding:2px; border: 2px solid black" alt="Pix" width="120.6vw" height="130.5vw">
    </div>
</div>
<br />
<div class="divTop" style="height:180px">
    <!--2ND INFO BOX -->
    <div style="float:left; padding-left:45px">
        <label class="b">NATIONALITY:</label><br />
        <label class="b">BIRTH DATE:</label><br />
        <label class="b">CIVIL STATUS:</label><br />
        <label class="b">BIRTH PLACE:</label><br />
        <label class="b">AVAILABILITY:</label>
    </div>
    <div style="float:left; padding-left: 15px">
        <label class="c">@Model.Seafarer.Nationality</label><br />
        <label class="c">@Model.Seafarer.DOB.ToString("MMMM dd, yyyy")</label><br />
        <label class="c">@Model.Seafarer.CivilStat</label><br />
        <label class="c">@Model.Seafarer.BPlace</label><br />
        <label class="c">ANYTIME</label>
    </div>
</div>
<br />
<div class="divTop" style="height:180px">
    <!--3RD INFO BOX -->
    <div style="float:left; padding-left:45px">
        <label class="b">DOCUMENT NAME:</label><br />
        <label class="b">NUMBER:</label><br />
        <label class="b">ISSUANCE:</label><br />
        <label class="b">ISSUED ON:</label><br />
        <label class="b">EXPIRED ON:</label>
    </div>
    <div style="float:left; padding-left:15px">
        <label class="c">Passport</label><br />
        <label class="c">@Model.Seafarer.PportNum</label><br />
        <label class="c">@Model.Seafarer.PportIssuance</label><br />
        <label class="c">@Model.Seafarer.PportIssued.ToString("dd.MMM.yyyy")</label><br />
        <label class="c">@Model.Seafarer.PportExpiry.ToString("dd.MMM.yyyy")</label>
    </div>
    <div style="float:left; padding-left:135px">
        <label class="b">DOCUMENT NAME:</label><br />
        <label class="b">NUMBER:</label><br />
        <label class="b">ISSUANCE:</label><br />
        <label class="b">ISSUED ON:</label><br />
        <label class="b">EXPIRED ON:</label>
    </div>
    <div style="float:left; padding-left:15px">
        <label class="c">Seaman's Book</label><br />
        <label class="c">@Model.Seafarer.SBKNo</label><br />
        <label class="c">@Model.Seafarer.SBKIssuance</label><br />
        <label class="c">@Model.Seafarer.SBKIssued.ToString("dd.MMM.yyyy")</label><br />
        <label class="c">@Model.Seafarer.SBKExpiry.ToString("dd.MMM.yyyy")</label>
    </div>
    <div style="float:left; padding-left:180px">
        <label class="b">DOCUMENT NAME:</label><br />
        <label class="b">NUMBER:</label><br />
        <label class="b">ISSUANCE:</label><br />
        <label class="b">ISSUED ON:</label><br />
        <label class="b">EXPIRED ON:</label>
    </div>
    <div style="float:left; padding-left:15px">
        <label class="c">US Visa</label><br />
        <label class="c">@Model.Seafarer.USVisaNum</label><br />
        <label class="c">@Model.Seafarer.USVisaIssuance</label><br />
        <label class="c">@Model.Seafarer.USVisaIssued.ToString("dd.MMM.yyyy")</label><br />
        <label class="c">@Model.Seafarer.USVisaExp.ToString("dd.MMM.yyyy")</label>
    </div>
</div>
<br />
<div class="divTop" style="height:28vw">
    <!-- 4th INFO BOX -->
    <label>SEA SERVICES EXPERIENCE</label>
    <div>
        <table class="table">
            <thread>
                <tr>
                    <th class="b">Previous Vessel</th>
                    <th class="b">Rank</th>
                    <th class="b">Sign-On</th>
                    <th class="b">Sign-Off</th>
                    <th class="b">Reason</th>
                    <th class="b">GRT</th>
                    <th class="b">Type</th>
                    <th class="b">Route</th>
                    <th class="b">Engine</th>
                    <th class="b">KW</th>
                    <th class="b">Agency</th>
                </tr>
            <tbody>
                @foreach (var seaservices in Model.SServices)
                {
                <tr style="font-size:0.87em">
                    <td>@seaservices.Vessel</td>
                    <td>@seaservices.Rank</td>
                    <td>@seaservices.SignOn.ToString("dd.MMM.yyyy")</td>
                    <td>@seaservices.SignOff.ToString("dd.MMM.yyyy")</td>
                    <td>@seaservices.Disembarkation</td>
                    <td>@seaservices.GRT</td>
                    <td>@seaservices.Type</td>
                    <td>@seaservices.TradeRoute</td>
                    <td>@seaservices.Engine</td>
                    <td>@seaservices.KW</td>
                    <td>@seaservices.Agent</td>
                </tr>
                }
            </tbody>
            </thread>
        </table>
    </div>
</div>
<br />
<div class="divTop" style="height:100px">
    <!-- 5th INFO BOX -->
    <label>TRAININGS/CERTIFICATES</label>
    <div>
        ...
    </div>
</div>
<br />
<div class="divTop" style="height:100px">
    <!-- 6th INFO BOX -->
    <label>VISA/OTHER DOCUMENTS</label>
    <div>
        ...
    </div>
</div>
<br />
<div class="divTop" style="height:100px">
    <!-- 7th INFO BOX -->
    <label>MEDICAL HISTORY</label>
    <div>
        ...
    </div>
</div>
</html>


