@page
@model GISMO.Pages.Clients.EditModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div class="divTop">
    <div>
        <h2>Client Management</h2>
        <label>Maintenance</label>
    </div>
    <br />
    <table class="table">
        <tbody>
            <tr>
                <td><label>Client Name</label></td>
                <td><p><input style="padding-right:10px" class="editinput" type="text" value="@Model.Clients.ClientName" /></p></td>
            </tr>
            <tr>
                <td><label>Client Type</label></td>
                <td>
                    <p>
                        <select class="editinput" name="ddtype" id="type">
                            <option>@Model.Clients.Type</option>
                            <option value="Ship Management">Ship Management</option>
                            <option value="Manning Agency">Manning Agency</option>
                        </select>
                    </p>
                </td>
            </tr>
            <tr>
                <td><label>Corporate Address</label>&nbsp;&nbsp;</td>
                <td><p><input class="editinput" type="text" value="@Model.Clients.Address" /></p></td>
            </tr>
            <tr>
                <td><label>Office Contacts</label></td>
                <td><p><input class="editinput" type="text" value="@Model.Clients.Contacts" /></p></td>
            </tr>
            <tr>
                <td><label>Apps License</label></td>
                <td><p><input class="editinput" type="text" value="@Model.Clients.AppLicense" /></p></td>
            </tr>
        </tbody>
    </table>
    <div class="divAction">
        <button>Assign Vessel</button>
        <button>GISMO License</button>
        <button>Reset Changes</button>
        <button>Save Changes</button>
    </div>
    <br /><br />
    <table class="table">
        <thead>
            <tr>
                <th>Managed Vessels</th>
                <th>Type</th>
                <th>Flag</th>
                <th>Route</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vessel in Model.ManageVsl)
            {
                <tr>
                    <td>@vessel.VesselName</td>
                    <td>@vessel.Type</td>
                    <td>@vessel.Flag</td>
                    <td>@vessel.Route</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="#">Revoke</a>
                        @*<a class="btn btn-primary btn-sm" href="#">Apps License</a>*@
                    </td>
                </tr>
            }
    </table>
</div>
<br /><br />
