@page
@model GISMO.Pages.Clients.PlannerModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div class="divTop">
    <html>
    <div>
        <h2>@Request.Query["selVsl"]</h2>
        <label>View Agency Crew Change Planning</label>
    </div>
    <p>
        <div style="text-align:end; padding-top:0.5vw; padding-bottom:0.5vw">
            <a class="btn-lnk" href="#">Export</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn-lnk" href="#">Print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn-lnk" href="#">Upload Crew-Change</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </p>
    <table class="table" style="width:100%">
        <thread>
            <tr>
                <th>POSITION</th>
                <th>ONBOARD</th>
                <th style="text-align:center">CREW CHANGE</th>
                <th>PROPOSED</th>
                <th>RANK</th>
                <th>PORT</th>
                <th>AGENCY</th>
                <th>AGENCY REMARKS</th>
                <th style="text-align:end; padding-right: 4vw">ACTION</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var crewchange in Model.CrewChange)
            {
                <tr>
                    <td style="background-color:gainsboro">@crewchange.OldPosition</td>
                    <td style="background-color:gainsboro">@crewchange.CrewOnboard</td>
                    <td style="background-color:lightblue; text-align:center">@crewchange.CChange.ToString("dd.MMM.yyyy")</td>
                    <td style="background-color:gainsboro">@crewchange.CrewReplacer</td>
                    <td style="background-color:gainsboro">@crewchange.NewPosition</td>
                    <td style="background-color:gainsboro">@crewchange.Port</td>
                    <td style="background-color:gainsboro">PTC</td>
                    <td style="color:#ff5402; width:10vw; text-align:justify">@crewchange.ReplacerStat</td>
                    <td style="background-color:gainsboro; text-align:end; padding-right:2vw">
                        <button>Send Remarks</button>
                        @*<a class="button" href="#">Send Remarks</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br /><br />

