@page
@model GISMO.Pages.Clients.VesselDetailsModel
@{
    Layout = null;

}
<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }
    .tabContentFormat {
        display: none;
        border-top: none;
    }
</style>

<label id="tabinit">@Request.Query["tabid"]</label>
<div class="divTop">
    <div>
        <h2>@Request.Query["selVsl"]</h2>
        <label>Details & Information</label>
    </div>
    <br />
    <div id="btnDiv" class="tab" style="border:0">
        <buttonTab class="tablinks" onclick='openThis(event, "Onboard")' id="defaultOpen">Crew Onboard</buttonTab>
        <buttonTab class="tablinks" onclick='openThis(event, "VslParticulars")'>Particulars</buttonTab>
        <buttonTab class="tablinks" onclick="openThis(event, 'VslCirculars')">Circulars</buttonTab>
        <buttonTab class="tablinks" onclick="openThis(event, 'VslEvents')">Events</buttonTab>
        <buttonTab class="tablinks" onclick="openThis(event, '')">Reports</buttonTab>
        <buttonTab class="tablinks" onclick="openThis(event, '')">Martime History</buttonTab>
        <buttonTab class="tablinks" onclick="openThis(event, '')">Technical</buttonTab>
        <buttonTab class="tablinks" onclick="openThis(event, '')">Shipping</buttonTab>
    </div>
    <!-- CREW ONBOARD -->
    <div id="Onboard" class="tabContentFormat" style="overflow-X:scroll">
        @*<div style="text-align:end; padding-top:0.5vw; padding-bottom:0.5vw">
            <a class="btn-lnk" href="#">Export</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn-lnk" href="#">Print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>*@
        <table class="table">
            <thread>
                <tr>
                    <th>POSITION</th>
                    <th>NAME</th>
                    <th>NATIONALITY</th>
                    <th>MOBILE</th>
                    <th>EMAIL</th>
                    <th>AGENCY</th>
                    <th>REMAINING MONTHS</th>
                    <th>NEXT ASSIGNMENT</th>
                    <th>IMAGE</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var onboardlist in Model.OnboardCrew)
                {
                    <tr>
                        <td>@onboardlist.Rank</td>
                        <td>
                            <a class="btn-link" href="/Clients/CrewDetails?id=@onboardlist.Id" target="_blank" rel="noreferrer">@onboardlist.Fname @onboardlist.Lname</a>
                        </td>
                        <td>@onboardlist.Nationality</td>
                        <td>@onboardlist.Mobile</td>
                        <td>@onboardlist.Email</td>
                        <td>PTC Phil Trans Carrier</td>
                        <td stystyle="font-size:0.9vw"><strong>@onboardlist.Remaining</strong> month(s)</td>
                        <td style="font-style:italic">-- for planning --</td>
                        <td>
                            <img src="~/lib/images/@(onboardlist.Id).jpg" style="" alt="Pix" width="65" height="60">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- VESSEL PARTICULARS -->
    <div id="VslParticulars" class="tabContentFormat" style="overflow-X:scroll">
        @*<div style="text-align:end; padding-top:0.5vw; padding-bottom:0.5vw">
            <a class="btn-lnk" href="#">Export</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn-lnk" href="#">Print</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>*@
        <table class="table" style="width:100%">
            <thread></thread>
            <tbody>
                @foreach (var vpool in Model.VesselPool)
                {
                    <tr>
                        <th style="width:65vw" class="border">CURRENT NAME</th>
                        <td style="background-color:whitesmoke; width:172vw">@vpool.VesselName</td>
                    </tr>
                    <tr>
                        <th class="border">IMO NUMBER</th>
                        <td style="background-color:white">@vpool.IMO</td>
                    </tr>
                    <tr>
                        <th class="border">SHIP TYPE</th>
                        <td style="background-color:whitesmoke">@vpool.Type</td>
                    </tr>
                    <tr>
                        <th class="border">FLAG:</th>
                        <td style="background-color:white">@vpool.Flag</td>
                    </tr>
                    <tr>
                        <th class="border">YEAR OF BUILT</th>
                        <td style="background-color:whitesmoke">@vpool.YearBuilt</td>
                    </tr>
                    <tr>
                        <th class="border">GRT</th>
                        <td style="background-color:white">@vpool.Grt</td>
                    </tr>
                    <tr>
                        <th class="border">ENGINE </th>
                        <td style="background-color:whitesmoke">@vpool.Engine</td>
                    </tr>
                    <tr>
                        <th class="border">BUILDER COMPANY</th>
                        <td style="background-color:white">@vpool.Builder</td>
                    </tr>
                    <tr>
                        <th class="border">TRADE ROUTE</th>
                        <td style="background-color:whitesmoke">@vpool.Route</td>
                    </tr>
                    <tr>
                        <th class="border">MANAGED BY </th>
                        <td style="background-color:white">@vpool.ClientId</td>
                    </tr>
                }
            </tbody>
        </table>
       </div>
    <!-- CIRCULARS -->
    <div id="VslCirculars" class="tabContentFormat" style="overflow-X:scroll">
        <div style="text-align:end; padding-top:0.5vw; padding-bottom:0.5vw">
            <a class="btn-lnk" href="#">Add</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn-lnk" href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <table class="table">
            <thread>
                <tr>
                    <th style="text-align:center">DOCUMENT GUIDELINES</th>
                    <th style="text-align:center">ISSUED</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var vslcirculars in Model.Circulars)
                {
                    <tr>
                        <td style="text-align:center; font-size:0.9em">@vslcirculars.MemoNo <br/> <br/>
                            <a style="text-align:center" href="#">@vslcirculars.MemoName</a><br/><br/>
                        </td>
                        <td style="text-align:center; font-size:0.9em">@vslcirculars.YearIssued</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- EVENTS -->
    <div id="VslEvents" class="tabContentFormat" style="overflow-X:scroll">
        <div style="text-align:end; padding-top:0.5vw; padding-bottom:0.5vw">
            <a class="btn-lnk" href="#">Add Event</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn-lnk" href="#">Edit Event</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <table class="table">
            <thread>
                <tr>
                    <th>DATE</th>
                    <th style="padding-right:30vw">REPORT</th>
                    <th>EVENT</th>
                    <th>SNAPSHOT</th>
                    <th>THUMB</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var vslevent in Model.EventsOB)
                {
                    <tr>
                        <td>@vslevent.ReportDate.ToString("dd.MMM.yyyy")</td>
                        <td>@vslevent.Report</td>
                        <td>@vslevent.EventOB</td>
                        <td>
                            <div id="rightImage">
                                <a href="../ImageViewer?imagefile=@vslevent.Image" target="_blank"><img src="~/lib/images/@vslevent.Image" alt="image" width="200px" height="90px" /></a>
                            </div>
                        </td>
                        <td>
                            <img src="~/lib/Images/@vslevent.Thumbnails" style="" alt="Thumbnails" width="200" height="90">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>




    @*<!-- CIRCULARS -->
    <div id="VslCirculars" class="tabcontent" style="width:1200px">
        <p>
            <div style="text-align:end">
                <a class="btn-link" style="font-size:small" href="#">Add Circular</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn-link" style="font-size:small" href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </p>
        <table border="1" class="table" style="background-color:whitesmoke">
            <thread>
                <tr style="align-content:center">
                    <th style="background-color:antiquewhite" class="text-center">DOCUMENT GUIDELINES</th>
                    <th style="background-color:antiquewhite" class="text-center">ISSUED</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var vslcirculars in Model.Circulars)
                {
                    <tr style="font-size:medium; background-color:white">
                        <td align="center" style="vertical-align:middle">
                            @vslcirculars.MemoNo<br>
                            <a style="align-content:center" class="btn-link" href="#">@vslcirculars.MemoName</a>
                        </td>
                        <td align="center" width="250px" style="vertical-align:middle">@vslcirculars.YearIssued</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- EVENTS -->
    <div id="VslEvents" class="tabcontent" style="width:1200px">
        <p>
            <div style="text-align:end">
                <a class="btn-link" style="font-size:small" href="#">Add Event</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn-link" style="font-size:small" href="#">Edit Event</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </p>
        <table class="table" style="background-color:whitesmoke">
            <thread>
                <tr style="background-color:antiquewhite">
                    <th>DATE</th>
                    <th>REPORT</th>
                    <th>EVENT</th>
                    <th>SNAPSHOT</th>
                    <th>THUMB</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var vslevent in Model.EventsOB)
                {
                    <tr style="font-size:medium; background-color:white">
                        <td>@vslevent.ReportDate.ToString("dd.MMM.yyyy")</td>
                        <td width="500px">@vslevent.Report</td>
                        <td>@vslevent.EventOB</td>
                        <td>
                            <div id="rightImage">
                                <a href="../ImageViewer?imagefile=@vslevent.Image" target="_blank"><img src="~/lib/images/@vslevent.Image" alt="image" width="200" height="90" /></a>
                            </div>
                        </td>
                        <td>
                            <img src="~/lib/Images/@vslevent.Thumbnails" style="" alt="Thumbnails" width="200" height="90">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@
