@page
@model GISMO.Pages.ApplicantsModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div class="divTop" style="height:100%">
    <html>
    <div style="float:left">
        <h2>Applicants</h2>
        <label>Review information prior employment</label>
    </div>
    <div style="text-align:end; padding-right:35px">
           <img style="width:42px; height:42px" src="~/lib/Images/applicant.png" />
    </div>
    <br /><br />
    <table class="table">
        <thead>
            <tr>
                <th>SEAFARER</th>
                <th>RANK</th>
                <th>PROPOSED BY</th>
                <th>FOR VESSEL</th>
                <th>FOR AGENCY UPLOADING</th>
                <th>CONDUCTED INTERVIEW</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var seafarer in Model.ForInterview)
            {
                <tr>
                    <td>
                        <a class="btn-link" href="#" onclick='loadHtml("template", "./Applicants?id=@seafarer.CrewId&thiscrew=@seafarer.FullName")'>@seafarer.FullName</a>
                    </td>
                    <td>@seafarer.Rank</td>
                    <td>@seafarer.Client</td>
                    <td>@seafarer.ToVessel</td>
                    <td>
                        <a class="btn-link" href="../Clients/CrewDetails?id=@seafarer.CrewId" target="_blank" rel="noreferrer">@seafarer.UploadedDocs</a>
                    </td>
                    <td>
                        <a class="btn-link" href="#" onclick='loadHtml("template", "./Interview?id=@seafarer.CrewId")'>@seafarer.OwnerRemarks</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <hr />
    <div style="padding-top:20px; padding-bottom:5px">
        <div style="float:left; padding-right:50px">
            <label style="color:#325af3">@Request.Query["thiscrew"]</label>
        </div>
        <div style="float:left; padding-right:50px">
            <label>(Latest Performance - below his Sea Services)</label>
        </div>
        <div style="width:100%; padding-right:50px; text-align:end">
            <a class="btn-lnk" href="#" style="padding-right:50px">Export</a>
            <a class="btn-lnk" href="#">Print</a>
        </div>
        <table>
            <thread>
                <tr>
                    <th>Master</th>
                    <th>Chief Engr</th>
                    <th>Vessel</th>
                    <th>Date</th>
                    <th>Remarks</th>
                </tr>
                <tbody style="background-color:antiquewhite">
                    @foreach (var selCrew in Model.Appraisals)
                    {
                        <tr>
                            <td class="a">@selCrew.Master</td>
                            <td class="a">@selCrew.Ceng</td>
                            <td class="a">@selCrew.VesselName</td>
                            <td class="a">@selCrew.AppDate.ToString("dd.MMM.yyyy")</td>
                            <td class="a">@selCrew.Remarks</td>
                        </tr>
                    }
                </tbody>
            </thread>
        </table>
    </div>
    <div style="padding-top:20px">
    <div>
        <label style="float:left">Sea Services</label>
    </div>
        <div style="width:100%; padding-right:50px; text-align:end">
        <a style="padding-right:50px" class="btn-lnk" href="#">Export</a>
        <a class="btn-lnk" href="#">Print</a>
    </div>
    
    <div>
        <table class="table">
            <thread>
                <tr>
                    <th>Previous Vessel</th>
                    <th>Rank</th>
                    <th>Sign-On</th>
                    <th>Sign-Off</th>
                    <th>Reason</th>
                    <th>GRT</th>
                    <th>Type</th>
                    <th>Route</th>
                    <th>Engine</th>
                    <th>KW</th>
                    <th>Agency</th>
                    <th>Management</th>
                </tr>
                <tbody style="background-color:antiquewhite">
                    @foreach (var seaservices in Model.SeaServices)
                    {
                        <tr>
                            <td class="a">@seaservices.Vessel</td>
                            <td class="a">@seaservices.Rank</td>
                            <td class="a">@seaservices.SignOn.ToString("dd.MMM.yyyy")</td>
                            <td class="a">@seaservices.SignOff.ToString("dd.MMM.yyyy")</td>
                            <td class="a">@seaservices.Disembarkation</td>
                            <td class="a">@seaservices.GRT</td>
                            <td class="a">@seaservices.Type</td>
                            <td class="a">@seaservices.TradeRoute</td>
                            <td class="a">@seaservices.Engine</td>
                            <td class="a">@seaservices.KW</td>
                            <td class="a">@seaservices.Agent</td>
                            <td class="a">@seaservices.Principal</td>
                        </tr>
                    }
                </tbody>
            </thread>
        </table>
    </div>
</div>
