@page
@model GISMO.Pages.DashboardModel
@{
    Layout = null;
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1px;
    }
    p.ridge{
        border-style:ridge;
    }
    .divParent {
        position:relative;
        transform:translateY(50px);
        height: 300px;
    }
    .divTopLeft {
        position: absolute;
        border:solid;
        border-width:thin;
        border-color:silver;
        height: 200px;
        width: 250px;
        box-shadow: 0 4px 8px rgba(0,0,0,.1);
        border-radius:5px;
        left:50%;
        transform:translateX(-190%);
        text-align:center;
        padding:23px, 2px;
        background-color:whitesmoke;
    }
    .divTopMiddle {
        position: absolute;
        border:solid;
        border-width:thin;
        border-color:silver;
        height: 200px;
        width: 250px;
        box-shadow: 0 4px 8px rgba(0,0,0,.1);
        border-radius:5px;
        left:45%;
        transform:translateX(-26%);
        text-align:center;
        padding:23px, 2px;
        background-color:whitesmoke;
    }
    .divTopRight {
        position: absolute;
        border:solid;
        border-width:thin;
        border-color:silver;
        height: 200px;
        width: 250px;
        box-shadow: 0 4px 8px rgba(0,0,0,.1);
        border-radius:5px;
        left:50%;
        transform:translateX(90%);
        text-align:center;
        padding:23px, 2px;
        background-color:whitesmoke;
    }
</style>

<html style="background-color: lightgray">
    <div class="divParent">
        <div class="divTopLeft">
            <label style="font-size:100px; font-family:Arial; color:darkslategray">70</label><br />
            <label>Total Crew</label>
        </div>
        <div class="divTopMiddle">
            <label style="font-size:100px; font-family:Arial; color:darkslategray">90</label><br />
            <label>Vessels</label>
        </div>
        <div class="divTopRight">
            <label style="font-size:100px; font-family:Arial; color:darkslategray">6</label><br />
            <label>Clients</label>
        </div>
    </div>
<body >
    
    <br />
    <div class="grid-container">
        <div class="grid-child ridge" id="piechart" style="width: 500px; height: 500px"></div>
        <div class="grid-child green" id="piechartclientbyvessel" style="width:900px; height: 500px;"></div>
    </div>
    <div class="grid-container">
        <div class="grid-child green" id="piechartclientbyvesselbar" style="width:500px; height: 270px;"></div>
        <div class="grid-child green" id="piechartclientbyvesselline" style="width:500px; height: 270px;"></div>
    </div>
    
</body>
</html>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChartClient);
        google.charts.setOnLoadCallback(drawChartClientBar);
        google.charts.setOnLoadCallback(drawChartClientLine);
        //General
        function drawChart(){
            var data = google.visualization.arrayToDataTable([
                ['Time', 'Data'],
                @foreach (var data in Model.Analytics)
                {
                    <text>['Total Clients', @data.TotalClients],</text>
                    <text>['Total Vessels', @data.TotalVessels],</text>
                    <text>['Total Crew', @data.TotalCrew]</text>
                }
        ]);
         var options = {
            title: 'Global Analytics',
            pieHole: 0.4,
         };
         var chart = new google.visualization.PieChart(document.getElementById('piechart'));
         chart.draw(data, options);
        }
        // Number of Vessels by Client
        function drawChartClient(){
            var data = google.visualization.arrayToDataTable([
                ['Time', 'Data'],
                @foreach (var data in Model.VesselByClient)
                {
                    <text>['@data.ClientName', @data.TotManagedVsl],</text>
                }
        ]);
         var options = {
            title: 'Client Managed Vessels',
            is3D: true,
         };
         var chart = new google.visualization.PieChart(document.getElementById('piechartclientbyvessel'));
         chart.draw(data, options);
        }
        //Total Deployed Crew by Client - in barchart
        
        function drawChartClientBar(){
            var data = google.visualization.arrayToDataTable([
                ['Time', 'Data', {role: "style"}],
                @foreach (var data in Model.ClientByEmbarked)
                {
                    //<text>['@data.ClientName', @data.TotEmbarked, "#264D99"],</text>
                    <text>['@data.ClientName', @data.TotEmbarked, @data.TotEmbarked],</text>
                }
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {   calc: "stringify",
                sourceColumn: 2,
                type: "string",
                role: "annotation" },
            2]);

         var options = {
            title: 'Total Client Embarkation',
            width: 500,
            height: 200,
            bar: {groupWith: "95%"},
            legend: {position: "none"},
         };

         var chart = new google.visualization.ColumnChart(document.getElementById('piechartclientbyvesselbar'));
         chart.draw(view, options);
        }
        //Number of Vessels by Client - in linechart
        function drawChartClientLine(){
            var data = google.visualization.arrayToDataTable([
                ['Time', 'Data'],
                @foreach (var data in Model.VesselByClient)
                {
                    <text>['@data.ClientName', @data.TotManagedVsl],</text>
                }
        ]);
        var view = new google.visualization.DataView(data);
        
        var options = {
            title: 'YTD Client Embarkation',
            curveType: 'function',
            legend: {position: "bottom"},
         };
         var chart = new google.visualization.LineChart(document.getElementById('piechartclientbyvesselline'));
         chart.draw(data, options);
        }
    </script>
