@page
@model GISMO.Pages.InterviewModel
@{
    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div style="padding-bottom:5px">
    <label style="font-size:2.2em">
        @Model.Crew.Rank.Trim() @Model.Crew.Lname, @Model.Crew.Fname
    </label>
    @*<img src="~/lib/images/@(Model.Crew.Id).jpg" style="width:50px; height:55px" alt="_NoImage">*@
</div>
@*====1st====*@
<div class="float-container">
    <div class="float-child">
        <div>
            <form>
                <ul id="accordion">
                    <li>
                        <label for="first">Interviewer's Remark<span style="font-size:1.2em; margin-right:10px">&#x3e</span></label>
                        <input type="radio" name="accordion" id="first" checked />
                        <div class="content">
                            <textarea style="height:18em; width:100%; line-height:1.3; font-size:0.9em; padding:5px" asp-for="Evaluation"></textarea>
                            <br />
                            <div style="text-align:end">
                                <button style="margin-right:7px; margin-top:6px" class="button" type="submit">Clear</button>
                                <button style="margin-right:7px; background-color:none; margin-top:6px" class="button" type="submit">Save</button>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul id="accordion">
                    <li>
                        <label for="second">Applicant History<span style="font-size:1.2em; margin-right:10px">&#x3e</span></label>
                        <input type="radio" name="accordion" id="second" />
                        <div class="contentScroll">
                            <p>
                                <table>
                                    <thread>
                                        <tbody>
                                            @foreach (var intervHistory in Model.History)
                                            {
                                                <tr>
                                                    <td>
                                                        <strong>Applied last </strong>@intervHistory.InterviewDate.ToString("dd.MMM.yyyy"). @intervHistory.Result during the interview with following remarks.
                                                        @intervHistory.Remarks <br />
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </thread>
                                </table>
                            </p>
                        </div>
                    </li>
                </ul>
                <ul id="accordion">
                    <li>
                        <label for="third">Vacant Positions<span style="font-size:1.2em; margin-right:10px">&#x3e</span></label>
                        <input type="radio" name="accordion" id="third" />
                        <div class="content">
                            <label style="color: black">MV ABC - Master</label>
                            <label style="color: black">5 Bosun with 3/O license</label>
                            <label style="color: black">2 OS for MV Xyz</label>
                            <label style="color: black">3 C/Cook</label>
                            <label style="color: black">20 Deck Cadets</label>
                          
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    @*====AGENCY/SHIPMGT REMARKS====*@
    <div class="float-child" style="border:1px solid white; padding-bottom: 5px; border-radius:5px">
        <div style="float:left; margin-left:20px; padding-right:1px">
            <label style="padding-left:0px">AGENCY REMARKS:</label><label> - Edgar Gelito/Crewing Manager</label><br />
            <label style="color: #ff5402">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This candidate is familiar with our company and showed interest. Passed technical examination, suggest to move on with the job offer </label>
        </div>
    </div>
    @*====2nd====*@
    <div class="float-child" style="border:1px solid white; padding-bottom: 5px; border-radius:10px">
        <div style="float:left; padding-right:10px">
            <label>Address:</label><br />
            <label>Nationality:</label><br />
            <label>Mobile:</label><br />
            <label>Email:</label><br />
        </div>
        <div style="float:left">
            <label class="c">@Model.Crew.Address</label><br />
            <label class="c">@Model.Crew.Nationality</label><br />
            <label class="c">@Model.Crew.Mobile</label><br />
            <label class="c">@Model.Crew.Email</label><br />
        </div>
    </div>
    @*====3rd====*@
    <div class="float-child" style="border:1px solid white; padding-bottom: 5px; border-radius:10px">
        <div style="float:left">
            <label>Passport Exp:</label><br>
            <label>SBK Exp:</label><br>
            <label>US Visa Exp:</label>
        </div>
        <div style="float:left">
            <label class="c">@Model.Crew.PportExpiry.ToString("dd.MMM.yyyy")</label><br>
            <label class="c">@Model.Crew.SBKExpiry.ToString("dd.MMM.yyyy")</label><br>
            <label class="c">@Model.Crew.USVisaExp.ToString("dd.MMM.yyyy")</label>
        </div>
    </div>
    @*====4th====*@
    <div class="float-child" style="border:1px solid white; padding-bottom: 5px; border-radius:10px">
        <div style="float:left; padding-right:1px">
            <label>Trainings:</label><br>
            <label>Certificates:</label><br>
            <label>Other Visa:</label>
        </div>
    </div>
    <div class="float-child" style="border:1px solid white; padding-bottom: 5px; border-radius:10px">
        <div style="float:left; padding-right:1px">
            <label>Status:</label><br>
            <label>Availability:</label><br>
            <label>Nearest Airport:</label>
        </div>
    </div>
</div>
