@page
@model GISMO.Pages.InterviewModel
@{
    Layout = null;
}

<style>
   
    #accordion li{
        list-style: none;
        width:100%;
        margin-bottom:5px;
        padding:5px;
        background-color:white;
        border-radius:5px;
        border: 1px solid gray;
    }
    #accordion li label{
        padding: 5px;
        display: flex;
        align-items:center;
        justify-content:space-between;
        font-size:15px;
        font-weight:300;
        cursor:pointer;
        color:#006cff;
    }
    #accordion li label span{
        transform: rotate(90deg);
        font-size: 15px;
        font-weight:bold;
        color: #006cff;
    }
    #accordion li label + input[type="radio"]{
        display: none;
    }
    #accordion .content{
        padding: 0 5px;
        line-height: 26px;
        max-height:0;
        overflow: hidden;
        transition: max-height 0.3s;
    }
    #accordion .contentScroll{
        padding: 0 5px;
        line-height: 26px;
        max-height:0;
        overflow: hidden;
        transition: max-height 0.3s;
        overflow-y:scroll;
    }
    #accordion label + input[type="radio"]:checked + .content{
        max-height: 400px;
    }

        #accordion label + input[type="radio"]:checked + .contentScroll {
        max-height: 400px;
    }

    .divScroll {
        position: relative;
        width: 28%;
        float: left;
        height: 400px;
        background-color: whitesmoke;
        overflow: hidden;
        overflow-y: scroll;
        border: solid;
        border-color: silver;
        border-width: thin;
        transform: translateY(231px);
        width: 100%;
        border-bottom-right-radius: 10px;
    }

    .divExpiring {
        position: relative;
        width: 28%;
        float: left;
        background-color: whitesmoke;
        height: 112px;
        border: solid;
        border-width: thin;
        border-color: silver;
        transform: translateY(210px);
        width: 100%;
    }

    .divleft {
        position: absolute;
        height: 200px;
        width: 683px;
        float: left;
        padding: 10px;
        padding-top: 20px;
    }

    .divright {
        position: absolute;
        height: 200px;
        width: 200px;
        float: right;
        transform: translateX(345%);
        padding: 10px;
        padding-top: 20px;
    }

    .accMain {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>
 
<div class="divTop" style="height: 100%">
    <div class="divIntLeft" style="height:26.5vw">
        <form>
            <ul id="accordion">
                <li>
                    <label for="first" style="font-size:1.2em">Interviewer's Evaluation<span style="font-size:1.2em; margin-right:10px">&#x3e</span></label>
                    <input type="radio" name="accordion" id="first" checked />
                    <div class="content">
                        <textarea style="height:15vw; width:23.5vw; line-height:1.3; font-size:1em; padding:5px" asp-for="Evaluation"></textarea>
                        <br />
                        <div style="text-align:end">
                            @*<input class="btn-lnk" type="submit" value="Save" />*@
                            <button style="margin-right:7px; margin-top:6px" class="button" type="submit">Clear</button>
                            <button style="margin-right:7px; margin-top:6px" class="button" type="submit">Save</button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul id="accordion">
                <li>
                    <label for="second" style="font-size:1.2em">Applicant History<span style="font-size:1.2em; margin-right:10px">&#x3e</span></label>
                    <input type="radio" name="accordion" id="second" />
                    <div class="contentScroll">
                        <p>
                            <table>
                                <thread>
                                    <tbody>
                                        @foreach (var intervHistory in Model.History)
                                        {
                                            <tr>
                                                <td>
                                                    <strong>Applied last </strong>@intervHistory.InterviewDate.ToString("dd.MMM.yyyy"). @intervHistory.Result during the interview with following remarks.
                                                    @intervHistory.Remarks <br />
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </thread>
                            </table>
                        </p>
                    </div>
                </li>
            </ul>
            <ul id="accordion">
                <li>
                    <label for="third" style="font-size:1.2em">Vacant Position<span style="font-size:1.2em; margin-right:10px">&#x3e</span></label>
                    <input type="radio" name="accordion" id="third" />
                    <div class="content">
                        MV ABC - Master<br />
                        5 Bosun with 3/O license<br />
                        2 OS for MV Xyz<br />
                        3 C/Cook<br />
                        2 C/M<br />
                        10 Electricians<br />
                        20 Cadets<br />
                        6 2/M<br />
                        2 3/M<br />
                        11 E/Cadet
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <div class="divIntRight" style="height:26.5vw">
        <br /><br />
        <h2>
            <label>@Model.Crew.Rank.Trim() @Model.Crew.Lname, @Model.Crew.Fname</label><br />
        </h2>
        <div style="float:left; padding-top:25px; padding-right:30px">
            <label>Address:</label><br />
            <label>Nationality:</label><br />
            <label>Mobile:</label><br />
            <label>Email:</label><br />
        </div>
        <div style="float:left; padding-top:25px">
            <label class="c">@Model.Crew.Address</label><br />
            <label class="c">@Model.Crew.Nationality</label><br />
            <label class="c">@Model.Crew.Mobile</label><br />
            <label class="c">@Model.Crew.Email</label><br />
        </div>
        <div style="transform:translateY(-2.5vw); margin-left:37vw; float:left; width:10vw; height:10vw; text-align:end; border:1px solid black">
            <img src="~/lib/images/@(Model.Crew.Id).jpg" style="" alt="_NoImage" width="100%px" height="100%">
        </div>
        @* EXPIRING DOCS CONTAINER *@
        <div style="padding-top:10px; padding-bottom:10px; border:1px solid black; margin-top:172px; transform: translateX(25.5vw); width:68.5vw; height:6.4vw">
            <div style="float:left; padding-right:10px; transform:translateX(-26vw)">
                <label>Passport Exp:</label><br>
                <label>SBK Exp:</label><br>
                <label>US Visa Exp:</label>
            </div>
            <div style="float:left; padding-right:6vw; transform:translateX(-25vw)">
                <label class="c">@Model.Crew.PportExpiry.ToString("dd.MMM.yyyy")</label><br>
                <label class="c">@Model.Crew.SBKExpiry.ToString("dd.MMM.yyyy")</label><br>
                <label class="c">@Model.Crew.USVisaExp.ToString("dd.MMM.yyyy")</label>
            </div>
            <div style="float:left; transform: translateX(-20vw)">
                <label>Trainings:</label><br>
                <label>Certificates:</label><br>
                <label>Other Visa:</label>
            </div>
            <div style="float:left; padding-right:30px">
                <label>Status:</label><br>
                <label>Availability:</label><br>
                <label>Nearest Airport:</label>
            </div>
        </div>
        <div style="padding-top:10px; padding-bottom:10px; border:1px solid black; margin-top:6px; transform: translateX(25.5vw); width:68.5vw; height:5vw; position:absolute; padding-left:10px">
            <label>AGENCY REMARKS:</label><label style="padding-left:20px"> - Edgar Gelito/Crewing Manager</label><br /><br />
            <label style="color: #ff5402">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This candidate is familiar with our company and showed interest. Passed technical examination, suggest to move on with the job offer </label>
            
        </div>
    </div>
    <label>SEA SERVICE EXPERIENCE</label>
    <div style="border: 1px solid black; width:94vw">
        <table class="table">
            <thread>
                <tr>
                    <th>Vessel</th>
                    <th>Rank</th>
                    <th>Sign-On</th>
                    <th>Sign-Off</th>
                    <th>Reason</th>
                    <th>GRT</th>
                    <th>Type</th>
                    <th>Engine</th>
                    <th>Agency</th>
                </tr>
                <tbody>
                    @foreach (var seaservices in Model.SeaServices)
                    {
                        <tr>
                            <td>@seaservices.Vessel</td>
                            <td>@seaservices.Rank</td>
                            <td>@seaservices.SignOn.ToString("dd.MMM.yyyy")</td>
                            <td>@seaservices.SignOff.ToString("dd.MMM.yyyy")</td>
                            <td>@seaservices.Disembarkation</td>
                            <td>@seaservices.GRT</td>
                            <td>@seaservices.Type</td>
                            <td>@seaservices.Engine</td>
                            <td>@seaservices.Agent</td>
                        </tr>
                    }
                </tbody>
            </thread>
        </table>
    </div>
</div>


