@page
@model GISMO.Pages.InterviewModel
@{
}
@*TO DO:
Show Applicant details, Interview remarks provision, User can ask/engage agencies for new applicants*@

<style>
    .divScroll {
        position:relative;
        width: 28%;
        float:left;
        height: 400px;
        background-color: whitesmoke;
        overflow: hidden;
        overflow-y: scroll;
        border: solid;
        border-color: silver;
        border-width: thin;
        /*padding:10px;*/
        transform: translateY(231px);
        width:100%;
        border-bottom-right-radius: 10px;
    }
    .divExpiring {
        position:relative;
        width:28%;
        float:left;
        background-color: whitesmoke;
        height: 112px;
        border:solid;
        border-width:thin;
        border-color: silver;
        transform: translateY(210px);
        width:100%;
    }
    .divTop{
        top: 19px;
        position:relative;
        height:80vh;
        float:left;
        background-color:silver;
        width:300px;
        transform:translateX(2%);
        padding:10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .divBottom{
        top:100px;
        position:absolute;
        height: 80vh;
        float:right;
        width:900px;
        background-color: #E6E1E1;
        transform:translateX(34%);
        border-top-right-radius: 10px;
        border-bottom-right-radius:10px;
    }
    .divleft{
        position:absolute;
        height: 200px;
        width: 683px;
        float: left;
        /*background-color:blue;*/
        padding:10px;
        padding-top:20px;
    }
    .divright {
        position: absolute;
        height: 200px;
        width: 200px;
        float: right;
        /*background-color: red;*/
        transform:translateX(345%);
        padding: 10px;
        padding-top: 20px;
    }
    .accMain{
        margin:0;
        padding: 0;
        font-family:'Poppins', sans-serif;
        box-sizing: border-box;
    }
    #accordion{
        width: 100%;
        padding:0;
    }
    #accordion li{
        list-style: none;
        width:100%;
        margin-bottom:5px;
        padding:5px;
        background-color:white;
        border-radius:5px;
    }
    #accordion li label{
        padding: 5px;
        display: flex;
        align-items:center;
        justify-content:space-between;
        font-size:15px;
        font-weight:300;
        cursor:pointer;
    }
    #accordion li label span{
        transform: rotate(90deg);
        font-size: 15px;
        font-weight:bold;
        color: #333;
    }
    #accordion li label + input[type="radio"]{
        display: none;
    }
    #accordion .content{
        padding: 0 5px;
        line-height: 26px;
        max-height:0;
        overflow: hidden;
        transition: max-height 0.3s;
    }
    #accordion .contentScroll{
        padding: 0 5px;
        line-height: 26px;
        max-height:0;
        overflow: hidden;
        transition: max-height 0.3s;
        overflow-y:scroll;
    }
    #accordion label + input[type="radio"]:checked + .content{
        max-height: 400px;
    }

        #accordion label + input[type="radio"]:checked + .contentScroll {
        max-height: 400px;
    }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <form>
    <div class="divparent">
        <div class="divTop">
            <p>&nbsp;Desktop</p>
            <ul id="accordion">
                <li>
                    <label for="first" style="font-family:Calibri; font-weight:bold">Interviewer's Evaluation<span>&#x3e</span></label>
                    <input type="radio" name="accordion" id="first" checked />
                    <div class="content">
                        <textarea style="height:200px; width:260px; line-height:1.2; font-size:small" asp-for="Evaluation"></textarea>
                    <br />
                    <div style="text-align:end">
                        <input type="submit" value="Save" />
                    </div>
                    </div>
                </li>
            </ul>
            <ul id="accordion">
                <li>
                    <label for="second" style="font-family:Calibri; font-weight:bold">Applicant History<span>&#x3e</span></label>
                    <input type="radio" name="accordion" id="second" />
                    <div class="contentScroll" >
                        <p>
                           <table>
                               <thread>
                                   <tbody>
                                        @foreach (var intervHistory in Model.History)
                                        {
                                            <tr>
                                               <td>
                                                   <strong>Applied last </strong>@intervHistory.InterviewDate.ToString("dd.MMM.yyyy"). @intervHistory.Result during the interview with following remarks.
                                                   @intervHistory.Remarks <br/>
                                               </td>
                                               
                                            </tr>
                                        }
                                    </tbody>
                                </thread>
                           </table>
                        </p>
                    </div>
                </li>
            </ul>
            <ul id="accordion">
                <li>
                    <label for="third" style="font-family:Calibri; font-weight:bold">Vacant Position<span>&#x3e</span></label>
                    <input type="radio" name="accordion" id="third" />
                    <div class="content">
                        <p>
                            <strong>MV ABC - Master</strong><br />
                            <strong>5 Bosun with 3/O license</strong><br />
                            <strong>2 OS for MV Xyz</strong><br />
                            <strong>3 C/Cook</strong><br />
                            <strong>2 C/M</strong><br />
                            <strong>10 Electricians</strong><br />
                            <strong>20 Cadets</strong><br />
                            <strong>6 2/M</strong><br />
                            <strong>2 3/M</strong><br />
                            <strong>11 E/Cadet</strong><br />
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="divBottom">
            <div class="divleft">
                    <input asp-for="Evaluation" style="font-weight:bold" class="form-control" value="@Model.Crew.Rank.Trim() @Model.Crew.Lname, @Model.Crew.Fname" readonly /><br />
                    <input asp-for="Evaluation" class="form-control" value="ADDRESS: @Model.Crew.Address" readonly /><br />
                    <input asp-for="Evaluation" class="form-control" value="NATIONALITY: @Model.Crew.Nationality • MOBILE: @Model.Crew.Mobile • EMAIL: @Model.Crew.Email" readonly /><br />
            </div>
            <div class="divright">
                @if (Model.Applicant != null)
                    {
                        @if (Model.Applicant.Count > 0)
                        {
                            <img src="~/lib/images/@(Model.Crew.Id).jpg" style="" alt="_NoImage" width="100%" height="100%">
                        }
                    }
            </div>
            <div class="divExpiring">
                <div style="height:100px; width:120px; float:left; padding: 10px">
                    <label>Passport Exp:</label><br />
                    <label>SBK Exp:</label><br />
                    <label>US Visa Exp:</label>
                </div>
                <div style="height:100px; width:100px; float:left; padding:10px">
                        <label style="width:100%; text-align:right"><strong>@Model.Crew.PportExpiry.ToString("dd.MMM.yyyy")</strong></label>
                        <label style="width:100%; text-align:right"><strong>@Model.Crew.SBKExpiry.ToString("dd.MMM.yyyy")</strong></label>
                        <label style="width:100%; text-align:right"><strong>@Model.Crew.USVisaExp.ToString("dd.MMM.yyyy")</strong></label>
                    @*<input asp-for="Evaluation" style="font-weight:bold; width:100%; background-color:#E9ECEF" value="Passport Exp: @Model.Crew.PportExpiry.ToString("dd.MMM.yyyy")" readonly /><br />*@
                   @* <input asp-for="Evaluation" style="font-weight:bold; width:100%; background-color:#E9ECEF" value="SBK Exp: @Model.Crew.SBKExpiry.ToString("dd.MMM.yyyy")" readonly /><br />
                    <input asp-for="Evaluation" style="font-weight:bold; width:100%; background-color:#E9ECEF" value="US Visa Exp: @Model.Crew.USVisaExp.ToString("dd.MMM.yyyy")" readonly /><br />*@
                </div>
                    <div style="height:100px; width:150px; float:left; padding: 10px"></div>
                    <div style="height:100px; width:120px; float:left; padding: 10px">
                        <label>Trainings:</label><br />
                        <label>Certificates:</label><br />
                        <label>Other Visa:</label>
                    </div>
                    <div style="height:100px; width:130px; float:left; padding: 10px"></div>
                    <div style="height:100px; width:140px; float:left; padding: 10px">
                        <label>Status:</label><br />
                        <label>Availability:</label><br />
                        <label>Nearest Airport:</label>
                    </div>
            </div>
                <div class="divScroll">
                    <table class="table" style="font-size:small">
                        <thread>
                            <tr>
                                <th style="background-color:whitesmoke">Vessel</th>
                                <th style="background-color:whitesmoke">Rank</th>
                                <th style="background-color:whitesmoke">Sign-On</th>
                                <th style="background-color:whitesmoke">Sign-Off</th>
                                <th style="background-color:whitesmoke">Reason</th>
                                <th style="background-color:whitesmoke">GRT</th>
                                <th style="background-color:whitesmoke">Type</th>
                                <th style="background-color:whitesmoke">Engine</th>
                                <th style="background-color:whitesmoke">Agency</th>
                            </tr>
                            <tbody>
                                @foreach (var seaservices in Model.SeaServices)
                                {
                                    <tr style="background-color:antiquewhite">
                                        <td>@seaservices.Vessel</td>
                                        <td>@seaservices.Rank</td>
                                        <td style="width:auto">@seaservices.SignOn.ToString("dd.MMM.yyyy")</td>
                                        <td style="width:auto">@seaservices.SignOff.ToString("dd.MMM.yyyy")</td>
                                        <td>@seaservices.Disembarkation</td>
                                        <td>@seaservices.GRT</td>
                                        <td style="width:auto">@seaservices.Type</td>
                                        <td>@seaservices.Engine</td>
                                        <td style="width:auto">@seaservices.Agent</td>
                                    </tr>
                                }
                            </tbody>
                        </thread>
                    </table>
                </div>
        </div>
            
    </div>
    </form>
</body>



