@page
@model GISMO.Pages.NewClientModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/stylemenu.css" />
<script src="~/js/site.js"></script>

<div class="divTop">
    <html>
    <div>
        <h2>Add New Client</h2>
        <label>Required to fill all information</label>
    </div>
    <br />
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.ClientName" class="col-form-label">Client Name</label>
            <input asp-for="@Model.ClientName" class="form-control" />
            <span asp-validation-for="@Model.ClientName" class="text-danger"></span><br />

            <label asp-for="@Model.ClientType" class="col-form-label">Client Type</label>
            <select asp-for="@Model.ClientType" class="form-control">
                <option value=""></option>
                <option value="Ship Management">Ship Management</option>
                <option value="Manning Agency">Manning Agency</option>
            </select><br />

            <label asp-for="@Model.ClientAddress" class="col-form-label">Corporate Address</label>
            <input asp-for="@Model.ClientAddress" class="form-control" />
            <span asp-validation-for="@Model.ClientAddress" class="text-danger"></span><br />

            <label asp-for="@Model.ClientContacts" class="col-form-label">Office Contacts</label>
            <input asp-for="@Model.ClientContacts" class="form-control" />
            <span asp-validation-for="@Model.ClientContacts" class="text-danger"></span><br />
        </div>
        <div class="form-group">
            <label asp-for="@Model.ClientAppLic" class="col-form-label">Application License</label>
            <input asp-for="@Model.ClientAppLic" class="form-control" />
            <span asp-validation-for="@Model.ClientAppLic" class="text-danger"></span><br />
        </div>
        <input type="submit" class="btn btn-dark btn-sm" value="Save / Add New" />
        <a class="btn btn-dark btn-sm" href="../NewClient">Available License</a>
        <a class="btn btn-dark btn-sm" href="../Clients/Clients">Cancel</a>
    </form>
</div>
<br /><br />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}