@page
@model GISMO.Pages.SearchCrewModel
@{
}

<style>
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

</style>

<html style="background-color: lightgray">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<body>

    <!-- R & D-->

    <div class="w3-container">
        <h2 style="text-align:center">Advance Searching</h2>
        <p style="text-align:center">Acquire vital information in realtime</p>
    </div>

    <div class=""

    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button" id="btncrew" onclick ="openTab('Seafarer')">Seafarer</button>
        <button class="w3-bar-item w3-button" id="btnclient" onclick="openTab('Client')">Client</button>
        <button class="w3-bar-item w3-button" id="btnexp" onclick="openTab('Experience')">Vessel Experience</button>
        <button class="w3-bar-item w3-button" id="btnvessel" onclick="openTab('Vessel')">Vessel</button>
    </div>
    
    <div id="Seafarer" class="w3-container w3-display-container optTab">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
        <h2>Seafarer</h2>
        <p>Search by Lastname</p>
        <form method="post">
            <input class="text-primary" asp-for="SearchText" />
            <input type="submit" asp-page-handler="Search" value="Search" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="global" name="globals" value="Global">
            <label for="global"> Global Search</label>

            <!-- Crew Table -->
            <table class="table">
                <thread>
                    <br />
                    <br />
                    <tr>
                        <th style="background-color:whitesmoke">Name</th>
                        <th style="background-color:whitesmoke">Rank</th>
                        <th style="background-color:whitesmoke">Status</th>
                        <th style="background-color:whitesmoke">Manning Agency</th>
                    </tr>
                </thread>
                <tbody>
                    @if (Model.SearchCrew != null)
                    {
                        @foreach (var item in Model.SearchCrew)
                        {
                            <tr>
                                <td><a class="btn-link" href="/Clients/CrewDetails?id=@item.Id" target="_blank" rel="noreferrer">@item.Fname @item.Lname</a></td>
                                <td>@item.Rank</td>
                                <td>@item.Availability</td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </form>
        <br />
    </div>

    <div id="Client" class="w3-container w3-display-container optTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
        <h2>Client</h2>
        <p>Search by Ship Management/Manning Agency</p>
        <form method="post">
            <input class="text-primary" asp-for="SearchThisClient" />
            <input type="submit" asp-page-handler="Search" value="Search" />
            <!-- Client Table -->
            <table class="table">
                <thread>
                    <br />
                    <br />
                    <tr>
                        <th style="background-color:whitesmoke">Name</th>
                        <th style="background-color:whitesmoke">Type</th>
                        <th style="background-color:whitesmoke">Address</th>
                    </tr>
                </thread>
                <tbody>
                    @if (Model.SearchClient != null)
                    {
                        @foreach (var clientresult in Model.SearchClient)
                        {
                            <tr>
                                <td>@clientresult.ClientName</td>
                                <td>@clientresult.Type</td>
                                <td>@clientresult.Address</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </form>
        <br />
    </div>

    <div id="Experience" class="w3-container w3-display-container optTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
        <h2>Filter crew with specific vessel experience</h2>
        <p>Ex: CONTAINER, BULK ETC.</p>
        
    </div>

    <div id="Vessel" class="w3-container w3-display-container optTab" style="display:none">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
        <h2>Vessel with Crew onboard</h2>
        <p>Search Vessel name</p>
    </div>

    <script>
        // START R&D
        
        // END R&D

        function openTab(optTab) {
            var i;
            var x = document.getElementsByClassName("optTab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(optTab).style.display = "block";
            $("input[type=text],textarea,input[type=email]").val('');
            //restartTable();
            //document.getElementById("optedTab").value = optTab;
           
        }
        function Showhidden(){
            alert(document.getElementById("optedTab").value);
        }
        function restartTable() {
            document.querySelectorAll("td").forEach(function (data) {
                data.parentNode.remove();
            });
        }
    </script>
</body>
</html>


@*function ClearTxt() {
    alert("hello");
    //document.getElementById("crewForm").reset();
    document.getElementById('sparam').value = '';
}*@

@*<form method="post">
    <label>Last Name</label>
    <input class="text-primary" asp-for="SearchText" />
    <input type="submit" asp-page-handler="Search" value="Search"/>
</form>*@

@*<p>Search by Lastname</p>*@
@*<form method="post">
    <label>Last Name</label>
    <input class="text-primary" asp-for="SearchText" />
    <input type="submit" asp-page-handler="Search" value="Search" />
</form>*@
<br />
@*@try
{
    <table class="table">
        <thread>
            <tr>
                <th style="background-color:whitesmoke">Name</th>
                <th style="background-color:whitesmoke">Rank</th>
                <th style="background-color:whitesmoke">Status</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var search in Model.SearchCrew)
            {
                <tr>
                    <td>@search.Fname &nbsp; @search.Lname</td>
                    <td><a class="btn-link" href="/Clients/CrewDetails?id=@search.Id" target="_blank" rel="noreferrer">@search.Fname @search.Lname</a></td>
                    <td>@search.Rank</td>
                    <td>@search.Availability</td>
                </tr>
            }
        </tbody>
    </table>
    <p></p>
}
catch (Exception)
{

}*@
