@page
@model GISMO.Pages.VesselPoolModel
@{
    Layout = null;
}

<style>
   /* .divTop {
        top:19px;
        position: relative;
        background-color: #F0F0F0;
        width:auto;
        padding-left: 30px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 6px;
        border-radius: 10px;
        height:155px;
    }*/
    .divtopleft{
        border:solid;
        border-width:thin;
        border-color:black;
    }
   .flexbox-container{
       display: flex;
       justify-content: space-around;
   }
   .flexbox-item{
       width: 200px;
       margin: 10px;
       border: 3px solid #333;
       background-color: silver
   }
   .flexbox-item-1{
       min-height:100px;
   }

    .flexbox-item-2 {
        min-height: 200px;
    }

    .flexbox-item-3 {
        min-height: 300px;
    }
    .divleft{
        width: 28%;
        float:left;
        height:570px;
        background-color:whitesmoke;
        overflow:hidden;
        overflow-y:scroll;
        border-top: solid;
        border-bottom: solid;
        border-left: solid;
        border-color: silver;
        border-width: thin;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .divright{
        width:72%;
        float:right;
        height:570px;
        background-color:whitesmoke;
        border-top:solid;
        border-bottom:solid;
        border-right: solid;
        border-color:silver;
        border-width:thin;
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;
    }
    .divtopright{
        float:right;
    }
    .divtopleft{
        float:left;
    }
    
</style>
<link rel="stylesheet" href="background_styles.css" />
<link rel="stylesheet" href="styles.css" />

<div class="divTop" style="overflow-X:scroll">
    <table class="table">
        <thead>
            <tr>
                <th>Vessel Name</th>
                <th>Type</th>
                <th>IMO</th>
                <th>Flag</th>
                <th>GRT</th>
                <th>Engine</th>
                <th>Year Built</th>
                <th>Route</th>
                <th>Builder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vpool in Model.VesselPool)
            {
                <tr>
                    @*<td><a id="btnVsl" class="btn-link" style="font-size:medium" href="./VesselPool?id=@vpool.Id">@vpool.VesselName</a></td>*@
                    <td><a class="btn-link" href="#" onclick='loadHtml("template", "./Clients/VesselDetails?id=@vpool.Id&selVsl=@vpool.VesselName&tabid=fresh")'>@vpool.VesselName</a>
                </td>
                <td>@vpool.Type</td>
                <td>@vpool.IMO</td>
                <td>@vpool.Flag</td>
                <td>@vpool.Grt</td>
                <td>@vpool.Engine</td>
                <td>@vpool.YearBuilt</td>
                <td>@vpool.Route</td>
                <td>@vpool.Builder</td>

                </tr>
            }
        </tbody>
    </table>

</div>




@*
<html>

<form method="post">

<div>
    <h2>Vessel Management</h2>
    <label>Details & Information</label>
    <div style="width:20%; float:left">
        <span asp-validation-for="@Model.SearchThisVessel" class="text-danger"></span>
    </div>
    <div style="width:80%; float:right; text-align:end; vertical-align:text-top; height:35px">
        <a class="btn btn-dark btn-sm" href="#">Add New Vessel</a>
        <a class="btn btn-dark btn-sm" href="#">Edit Vessel</a>
    </div>
</div>
<br />
<div class="divleft">
    <table class="table">
        <thread>
            <th style="position:absolute; background-color:silver"; width="310px"; height="50"; valign="middle">
                <input type="text" asp-for="SearchThisVessel" required/>
                <input type="submit" style="width:75px" asp-page-handler="Search" value="Search" />
        </thread>
        <tbody>
            <td height="40px"></td>
            @if (Model.SearchThisVessel != null)
            {
                @foreach (var vpool in Model.SearchAllVsl)
                    {
                        <tr>
                            <td>
                                <a class="btn-link" style="font-size:medium" href="./VesselPool?id=@vpool.Id">@vpool.VesselName</a>
                            </td>
                        </tr>
                    }
            }else{
                @foreach (var vpool in Model.VesselPool)
                {
                    <tr>
                        <td><a id="btnVsl" class="btn-link" style="font-size:medium" href="./VesselPool?id=@vpool.Id">@vpool.VesselName</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </form>
</div>
<div class="divright">
   <table class="table">
       <thread>
            <tr style="background-color:silver; height:49px; border-top-right-radius:10px">
                <th>NAME</th>
                <th>IMO</th>
                <th>TYPE</th>
                <th>FLAG</th>
                <th>GRT</th>
                <th>ROUTE</th>
                <th>YEAR BUILT</th>
                <th>ENGINE</th>
                <th>BUILDER</th>
           </tr>
       </thread>
       <tbody>
           <tr>
               @if (Model.Vessels != null)
                {
                    <td>@Model.Vessels.VesselName</td>
                    <td>@Model.Vessels.IMO</td>
                    <td>@Model.Vessels.Type</td>
                    <td>@Model.Vessels.Flag</td>
                    <td>@Model.Vessels.Grt</td>
                    <td>@Model.Vessels.Route</td>
                    <td>@Model.Vessels.YearBuilt</td>
                    <td>@Model.Vessels.Engine</td>
                    <td>@Model.Vessels.Builder</td>
                }
           </tr>
       </tbody>
   </table>
   <div id="vslimg">
        @if (Model.Vessels != null)
        {
            <img src="~/lib/images/@(Model.Vessels.Pix)" style="border-bottom-right-radius:10px" alt="_NoImage" width="843" height="453">
        }
        else
        {
               
        }
   </div>
    
</div>*@
    <script>
        const button = document.getElementById('btnVsl');
        document.getElementById("btnVsl").addEventListener("click", function () {
            const theDiv = document.getElementById("divtext");
            if(theDiv.classList.contains('d-none')){
                theDiv.classList.remove('d-none');
                button.textContent = 'Show';
            }else{
                theDiv.classList.add('d-none');
                button.textContent = 'Hide';
            }
        });
    </script>
